{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    <div>
        Angemeldet als: {{ activeUser }}
    </div>

    <form method="post" action="/deposit">
        <button type="submit" name="logout">Abmelden</button>
    </form>

    <a href="http://0.0.0.0:8000/feature">
        <button>features</button>
    </a>

    <br><br>
    {% if success is defined %}
        {{ success }}
    {% endif %}
    {% if error is defined and error is not empty %}
        <br>{{ error }}
        Fehler! Die Transaktion wurde nicht gespeichert!<br>
    {% endif %}
    <br>

    <div>
        Kontostand: {{ balance }} €
    </div>

    <h1>
        Geld hochladen
    </h1>

    <form action="{{ path('deposit_amount') }}" method="POST">
        Betrag: <input type="text" name="amount">
        <input type="submit" value="Hochladen">
    </form>

{% endblock %}