{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    <a href="http://0.0.0.0:8000/feature">
        <button>features</button>
    </a>

    <body>
    <h1>Transaction History</h1>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Purpose</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.createdAt|date("d.m.Y") }}</td>
                <td>{{ transaction.createdAt|date("H:i:s") }}</td>
                <td>{{ transaction.purpose }}</td>
                <td>{{ transaction.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>

{% endblock %}