{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    {% if error is defined %} {{ error }} {% endif %} <br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br><br>
    <a href="http://0.0.0.0:8000/login">
        <button>Anmelden</button>
    </a>

{% endblock %}