{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    <div>
        Angemeldet als: {{ activeUser }}
    </div>

    <form method="post" action="{{ path('app_logout') }}">
        <button type="submit" name="logout">Abmelden</button>
    </form>

    <a href="{{ path('app_home') }}">
        <button>features</button>
    </a>

    <br><br>
    {% if success is defined %}
        {{ success }}
    {% endif %}
    {% if error is defined and error is not empty %}
        <br>{{ error }}
        Fehler! Die Transaktion wurde nicht gespeichert!<br>
    {% endif %}
    <br>

    <div>
        Kontostand: {{ balance }} €
    </div>

    <h1>
        Geld überweisen
    </h1>

    <form action="?page=transaction" method="POST">
        Betrag: <input type="text" name="amount"> <br>
        Empfänger: <input type="text" name="receiver"> <br>
        <input type="submit" value="Überweisen" name="transfer">
    </form>

{% endblock %}